{% extends "recipes/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="article-img"src="{{ object.recipe_image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>



                {% if request.user.is_authenticated %}
                    {% if Post.favorite %}
                    <a href="{% url 'favorite_post' post.pk %}">
                        <i class="fas fa-heart fa-lg"></i>
                    </a>
                    {% else %}
                    <a href="{% url 'favorite_post' post.pk %}">
                        <i class="far fa-heart fa-lg"></i>
                    </a>
                    {% endif %}
                {% endif %}


                {% if object.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm " href="{% url 'post-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p> </p>
            <p class="text-muted">Description</p>
            <p class="article-content">{{ post.description }}</p>
            <p class="text-muted">Steps</p>
            <p class="article-content">{{ object.Steps }}</p>
            <p> </p>
            <p class="text-muted">Ingredients</p>
            <p class="article-content">{{ object.Ingredients }}</p>
            <p> </p>
            <p class="text-muted">Other Info</p>
            <p class="article-content">{{ object.Additional }}</p>
            <p class="text-muted">Diet Type(s)</p>
            <p class="article-content">{{ object.Diet }}</p>
        </div>
    </article>
{% endblock content %}
